<!--
  Generated template for the AddressesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Addresses</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>
  <ion-card>
    <ion-card-header>
      Billing Address
      <P class="small-header">Address we send invoice to</P>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="!billingAddressEmpty">
        <div *ngFor="let billArray of billingAddressArray">
          <p>Name: {{billArray.first_name}} {{billArray.last_name}}
            ({{billArray.phone_number}})</p>
          <p>Email: {{billArray.email}}</p>
          <p>Town: {{billArray.town}}</p>
          <p>Address: {{billArray.address}}</p>
          <p>Country: {{billArray.country}}</p>
        </div>


        <button ion-button block outline color="primary" (click)="selectBillingAddress()">
          Select an address
        </button>
      </div>
      <div *ngIf="billingAddressEmpty">
        <h2 text-center="">Please add a billing address</h2>
        <button ion-button block outline color="primary" (click)="addBillingAddress()">
          Add address
        </button>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Shipping Address
      <P class="small-header">Address we send your products to</P>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="!shippingAdressEmpty">
        <div *ngFor="let shipArray of shippingAddressArray">
          <p>Name: {{shipArray.first_name}} {{shipArray.last_name}}
            ({{shipArray.phone_number}})</p>
          <p>Email: {{shipArray.email}}</p>
          <p>Town: {{shipArray.town}}</p>
          <p>Address: {{shipArray.address}}</p>
          <p>Country: {{shipArray.country}}</p>
        </div>

        <button ion-button block outline color="primary" (click)="selectShippingAddress()">
          Select an address
        </button>
      </div>
      <div *ngIf="shippingAdressEmpty">
        <h2 text-center="">Please add a shipping address</h2>
        <button ion-button block outline color="primary" (click)="addShippingAddress()">
          Add address
        </button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>

