page-login {
  .login {
    background: color($colors, primary);
    background-image: url('../assets/imgs/shopaholic_1.png');
    background-size: 75% auto;
    background-repeat: no-repeat;
    background-position: center 30px;
    //animation: colorchange 25s ease-out infinite;
    //@keyframes colorchange {
    //  0% {
    //    background-position: 0% 99%
    //  }
    //  50% {
    //    background-position: 100% 1%
    //  }
    //  100% {
    //    background-position: 10% 90%
    //  }
    //
    //}

    .item {
      border: none;
      background-color: transparent;
      padding-left: 3px;
      padding-right: 3px;
      display: block;

    }
    .item-inner {
      border-bottom: 1px solid color($colors, grey) !important;
    }
    .footer-content {
      width: 92%;
      bottom: 0px;
      margin-bottom: -1px;

      .button {
        width: 200px;
        margin: 15px auto 0 auto;
      }
      .bottom-content {
        background: color($colors, light);
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        padding-bottom: 30px;
      }
    }
    .invalid {
      border-bottom: 1px solid color($colors, danger);
    }

    .reset{
      color: color($colors, primary);
      text-decoration: underline;
    }
  }
}
