<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent="true">

    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon color="dark" item-right name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content fullscreen="true" class="login">

  <div no-lines class="footer-content btn-holder">
    <div class="bottom-content animated fadeInUpBig" padding>
      <h2 text-center>Login</h2>
      <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
        <ion-item no-lines>
          <ion-label color="secondary" floating>Email address</ion-label>
          <ion-input formControlName="email" type="email"
                     [class.invalid]="!loginForm.controls.email.valid && blur"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label color="secondary" floating>Password</ion-label>
          <ion-input formControlName="password" type="password"
                     [class.invalid]="!loginForm.controls.password.valid && blur"></ion-input>
        </ion-item>


        <button type="submit" ion-button block outline color="primary" class="shadow" [disabled]="!loginForm.valid">
          Login
        </button>
      </form>
      <p>Dont have an account? Register Here</p>
      <button ion-button block outline color="secondary" (click)="goToSignup()">Register</button>
      <h2 class="reset" (click)="goToResetPassword()">Forgot Password?</h2>
    </div>
  </div>


</ion-content>
