<!--
  Generated template for the BillingPageListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar>

    <ion-title>Billing address</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="!billingAddressArray.length>0" class="no-records">
    <img  src="assets/imgs/empty.png">
    <p>No records available at the moment</p>
  </div>
  <div>
    <ion-card *ngFor="let billArray of billingAddressArray" (click)="chooseBillingAddress(billArray.id)">
      <ion-item>
        <p>Name: {{billArray.first_name}} {{billArray.last_name}}
          ({{billArray.phone_number}})</p>
        <p>Email: {{billArray.email}}</p>
        <p>Town: {{billArray.town}}</p>
        <p class="address item-text-wrap">Address: {{billArray.address}}</p>
        <p>Country: {{billArray.country}}</p>
      </ion-item>
    </ion-card>
  </div>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="addBillingAddress()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
