<!--
  Generated template for the ShippingPageListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Shipping address</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="!shippingAddressArray.length>0" class="no-records">
    <img  src="assets/imgs/empty.png">
    <p>No records available at the moment</p>
  </div>
  <div>
    <ion-card *ngFor="let shippingArray of shippingAddressArray" (click)="chooseShippingAddress(shippingArray.id)">
      <ion-item>
        <p>Name: {{shippingArray.first_name}} {{shippingArray.last_name}}
          ({{shippingArray.phone_number}})</p>
        <p>Email: {{shippingArray.email}}</p>
        <p>Town: {{shippingArray.town}}</p>
        <p class="address item-text-wrap">Address: {{shippingArray.address}}</p>
        <p>Country: {{shippingArray.country}}</p>
      </ion-item>
    </ion-card>
  </div>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="addShippingAddress()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
