page-shipping-page-list {
  .no-records{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: perspective(1px) translate(-50%, -50%);
  }
  .no-records p{
    color: map_get($colors, primary);
    text-align: center;
  }
}
