<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Wishlist" tabBadge="{{wishListNumber}}" tabIcon="color-wand"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Cart" tabBadge="{{cartItemsNumber}}" tabIcon="cart"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Profile" tabIcon="person"></ion-tab>
</ion-tabs>
