.ios, .md {
  page-category {
    ion-row {
      padding-bottom: 0px;
    }
    ion-col {
      margin: 0px !important;
      padding: 0px !important;

    }
    .card-background-page {

      ion-card {
        position: relative;
        text-align: center;
      }

      .card-title {
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        top: 33%;
        font-size: 1.5em;
        width: 100%;
        font-weight: bold;
        color: map-get($colors, primary);

      }

      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
      }

    }
  }
}
