<!--
  Generated template for the CategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Category</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="search()">
        <ion-icon item-right name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-content class="card-background-page">
    <ion-grid>
      <ion-row *ngFor="let double of doubleCategories">
        <ion-col *ngFor="let item of double">
          <ion-card (click)="listProducts(item.categoryId, item.category_name)">


            <img-loader src="{{item.image}}" [useImg]="true"></img-loader>

            <div class="card-title">{{item.category_name}}</div>

          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
</ion-content>
