<ion-header>
  <ion-navbar>
    <ion-title>
      Wish List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding no-margin>

  <div class="pins">
    <div *ngIf="!wishList.length>0" class="no-records">
      <img  src="assets/imgs/empty.png">
      <p>No records available at the moment</p>
    </div>
    <ion-card class="pin" *ngFor="let wish of wishList" (click)="productDetails(wish.productId)">
      <img [src]="wish.image_url"/>
      <div *ngIf="wish.name" class="post-description">

        <h5>{{ wish.name }}</h5>


      </div>
      <ion-item class="itemcard">
        <ion-row>
          <p class="old-price">{{wish.currency_symbol}} {{wish.old_price}}</p>
          <p class="new-price">{{wish.currency_symbol}} {{wish.price}}</p>
        </ion-row>
        <div class="stars" *ngIf="wish.rate > 0">
          <ion-icon *ngFor="let star of printRating(wish.rate)" name="{{star}}"></ion-icon>
        </div>
        <ion-badge>{{calculatePercentageDiscount(wish.old_price, wish.price)}}</ion-badge>

      </ion-item>
      <div class="itembutton">
        <button  ion-button block outline color="primary"
                (click)="removeFromWishlist($event, wish.productId)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </div>


    </ion-card>
  </div>

</ion-content>
