.ios, .md {
  page-about {



    .pins {
      column-count: 2;
    }

    .pin {
      display: inline-block;
    }

    .no-records{
      width: 50%;
      height: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: perspective(1px) translate(-50%, -50%);
    }
    .no-records p{
      color: map_get($colors, primary);
      text-align: center;
    }

    .card {
      margin-top: 10px;
    }

    ion-avatar {
      margin: 0 !important;
    }

    .itemcard {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      padding-left: 8px !important;
      padding-right: 8px !important;
      margin:0px !important;
    }

    .itembutton{
      padding-left: 5px !important;
      padding-right: 8px !important;
      padding-bottom: 5px !important;
      padding-top: 0px !important;
    }

    .item ion-avatar img {
      width: 9vw;
      height: 9vw;
    }

    .post-description {
      padding: 8px;
      border-bottom: 1px solid #eee;
    }

    // Media queries
    @media (min-width: 480px) {
      .pins {
        column-count: 3;
      }
      .item ion-avatar img {
        width: 7vw !important;
        height: 7vw !important;
      }
    }

    @media (min-width: 640px) {
      .pins {
        column-count: 4;
      }
      .item ion-avatar img {
        width: 5vw !important;
        height: 5vw !important;
        margin: 6px;
      }
    }

    .old-price {
      font-size: 12px !important;
      text-decoration: line-through !important;
      font-weight: bold;
    }
    .new-price {
      margin-left: 3px;
      font-size: 12px !important;
      color: map_get($colors, secondary) !important;
      font-weight: bold;
    }
    .stars {
      color: map_get($colors, primary);
    }
  }
}
