<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <ion-buttons *ngFor="let message of messagesList" (click)="">
      <ion-item>
        <h3>{{message.name}}</h3>
        <p>{{message.message}}</p>
      </ion-item>
    </ion-buttons>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-input type="text" placeholder="type here..." [(ngModel)]="newmessage"></ion-input>
    <button ion-button clear item-right (click)="send()">Send</button>
  </ion-item>
</ion-footer>
