<!--
  Generated template for the FilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-searchbar
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-navbar>
</ion-header>
<ion-content>

  <ion-list style="position: absolute;z-index:1;width:100%">
    <ion-item *ngFor="let item of products" color="light" (click)="productDetails(item.productId)">
      <ion-avatar item-start>
        <img src="{{item.image}}">
      </ion-avatar>
      <h2>{{item.productName}}</h2>
    </ion-item>
  </ion-list>
  <ion-list class="accordion-list">
    <ion-list-header no-padding>
      <button ion-item (click)="toggleSection()" detail-none [ngClass]="{'section-active': open, 'section': !open}">
        <ion-icon item-right name="arrow-forward" *ngIf="!open"></ion-icon>
        <ion-icon item-right name="arrow-down" *ngIf="open"></ion-icon>
        Categories
      </button>
      <ion-list *ngIf="open" no-lines no-padding>
        <button ion-item *ngFor="let item of categoryArray; let i = index"
                (click)="listProducts(item.categoryId, item.category_name)">
          {{ item.category_name }}
          <ion-badge item-right>{{numberOfProductsInCategory(item.categoryId)}} items</ion-badge>
        </button>
      </ion-list>
    </ion-list-header>

  </ion-list>
  <ion-list class="history-list">
    <ion-row>
      <ion-col><h2 class="history">History</h2></ion-col>
      <ion-col>
        <button large class="pright" ion-button clear item-right (click)="deleteSearch()">
          <ion-icon name="trash" color="primary"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-item *ngFor="let search of searchData" (click)="productDetailsHistory(search.productId)">
      <ion-avatar item-start>
        <img src="{{search.image_url}}">
      </ion-avatar>
      <h2>{{search.name}}</h2>
      <ion-row>
        <p class="old-price">{{settings.currency_symbol}} {{search.old_price}}</p>
        <p class="new-price">{{settings.currency_symbol}} {{search.price}}</p>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
