.ios, .md {
  page-filter {
    ion-row {
      margin-top: 0px;
      padding-top: 0px;
    }
    .listme {
      margin-left: 5%;
      position: absolute;
      z-index: 5;
    }
    .pright {
      margin-left: 0px !important;
      float: right;
      top: 2%;
      margin-right: 10px;
    }
    history-list{
      padding-top: 0!important;
      margin-top: 0!important;
    }
    .history {
      margin-left: 10px !important;
    }

    .old-price {
      font-size: 12px !important;
      text-decoration: line-through !important;
      font-weight: bold;
    }
    .new-price {
      margin-left: 3px;
      font-size: 12px !important;
      color: map_get($colors, secondary) !important;
      font-weight: bold;
    }
  }
}
