.ios, .md {
  page-cart {

    .items-in-cart {
      //margin-left: 2.5vh;
      padding-left: 2.5vh;
    }

    .cartImage {
      //margin-bottom: 1vh !important;
      width: 11vh;
      height: 8vh;
    }
    .price {
      font-family: 'Montserrat', sans-serif !important;
      font-size: 12px;
      font-weight: 600 !important;
      margin: 0px !important;
      padding: 0px !important;
      color: color($colors, primary);
    }
    .add-minus-btn {
      border: none;
      width: 1vh !important;
      height: 3.5vh !important;
      border-radius: 50%;
    }
    .aParent {
      position: relative;
    }
    .total {
      font-family: 'Montserrat', sans-serif !important;
      font-size: 16px;
      font-weight: 600 !important;
      display: inline-block;
    }
  }
}
