<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Cart

    </ion-title>
    <ion-buttons end *ngIf="isModal">
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon item-right name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>

  <div>

    <p padding-left>You have {{count_cart}} item(s) in your cart</p>

  </div>

  <ion-list *ngIf="cartItems?.length > 0">
    <ion-item-sliding *ngFor="let slide of cartItems">
      <ion-item (click)="productDetails(slide.product_id)">
        <ion-thumbnail class="cartImage" item-start="">
          <img-loader src="{{slide.image_url}}" [useImg]="true"></img-loader>
        </ion-thumbnail>
        <h2>

          {{slide.name}}
        </h2>
        <p class="price">
          {{slide.currency_symbol}} {{slide.price}} x {{slide.quantity}}
        </p>
        <button class="add-minus-btn" ion-button small (click)="add($event,slide.id, slide.quantity)">+</button>
        <button class="add-minus-btn" ion-button small color="secondary"
                (click)="minus($event,slide.id, slide.quantity)" style="margin-left: 2vh;">-
        </button>
      </ion-item>
      <ion-item-options side="right">
        <button (click)="deleteFromCart($event,slide.id)" color="danger" ion-button="">
          <ion-icon name="mail">
          </ion-icon>
          delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div
    style="width: 50%; height: 50%;position: absolute;top: 50%;left: 50%;transform: perspective(1px) translate(-50%, -50%);"
    *ngIf="!cartItems?.length>0" class="no-records">
    <img src="assets/imgs/empty.png">
    <p style="color: #e95420" text-center >No records available at the moment</p>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>

    <ion-row class="aParent">
      <ion-col>
        <p class="total">Total {{final_total}}</p>
      </ion-col>
      <ion-col>

        <button class="addtocart" [disabled]="isEmptyCart()" ion-button icon-end float-right color="secondary"
                (click)="checkOut()">
          Check out
          <ion-icon name="cart"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
