<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar transparent="true">
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content fullscreen="true" class="no-padding-top">

  <img id="profile-bg" src="assets/imgs/profile/profile-cover.jpg"/>
  <div id="content">
    <div id="profile-info">



      <img id="profile-image" width="128px" height="128px" (click)="changePicture()" [src]="chosenPicture || placeholder"
                    onerror="this.src='assets/imgs/profile/profile.jpg'"/>
      <h3 id="profile-name"></h3>
      <span id="profile-description" *ngIf="profile.length>0">Email: {{profile[0]['email']}}</span>

      <span id="profile-description" *ngIf="!profile.length>0">You are not logged in</span>

    </div>
    <ion-list no-padding no-margin>
      <button ion-item (click)="orders()">
        <ion-icon name="basket" item-start color="primary"></ion-icon>
        <ion-label>Orders</ion-label>
      </button>
      <button ion-item (click)="addresses()">
        <ion-icon name="compass" item-start color="blue"></ion-icon>
        <ion-label>Addresses</ion-label>
      </button>
      <button ion-item (click)="emails()">
        <ion-icon name="mail" item-start color="greenish"></ion-icon>
        <ion-label>Contact Us</ion-label>
      </button>
      <button ion-item>
        <ion-icon name="happy" item-start color="pdark"></ion-icon>
        <ion-label>Give us feed back</ion-label>
      </button>
      <button *ngIf="profile.length>0" ion-item (click)="logOut()">
        <ion-icon name="power" item-start color="danger"></ion-icon>
        <ion-label>Log out</ion-label>

      </button>
      <button *ngIf="!profile.length>0" ion-item (click)="login()">
        <ion-icon name="power" item-start color="blue"></ion-icon>
        <ion-label>Login</ion-label>
      </button>
    </ion-list>

  </div>
</ion-content>
