page-profile {

  .no-padding-top .scroll-content {
    padding-top: 0px !important;
    margin-top: 0px !important;
    //margin-bottom: 20px !important;
  }

  #profile-bg {
    position: fixed;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
  }

  #content {
    position: relative;
    margin-top: 170px;
    background-color: white;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.4);
    padding-top: 110px;
  }

  #profile-info {
    position: absolute;
    top: -95px;
    width: 100%;
    z-index: 2;
    text-align: center;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }
  #profile-name {
    color: #444;
    font-size: 26px;
  }
  #profile-description {
    font-size: 15px;
    color: color($colors, secondary);
  }
  #profile-description a {
    color: #888;
  }

  img-loader{
    display: block;
    border-radius: 100px;
    border: 1px solid #fff;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  }

  #profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #fff;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  }
  ion-list{
    padding-top: 0px;
    margin-top: 0px;
    top: -95px;
  }
}
