<!--
  Generated template for the ShippingAdressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Shipping address</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <h2 text-center>Use similar address as billing address?</h2>
  <ion-list *ngIf="billingAddressArray.length>0" radio-group [(ngModel)]="address.radiobuttons">
    <ion-item>
      <ion-label>YES</ion-label>
      <ion-radio value="yes" checked (click)="sameAsBillingAddress()"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>NO</ion-label>
      <ion-radio value="no" (click)="sameAsBillingAddress()"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="displayShippingForm">
    <ion-card-content>
      <form [formGroup]="shippingForm" (ngSubmit)="addShippingForm()">
        <ion-item no-lines>
          <ion-label color="secondary" stacked>First name</ion-label>
          <ion-input formControlName="first_name" type="text"
                     [class.invalid]="!shippingForm.controls.first_name.valid && blur"
                     placeholder="Your first name"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label color="secondary" stacked>Last name</ion-label>
          <ion-input formControlName="last_name" type="text"
                     [class.invalid]="!shippingForm.controls.last_name.valid && blur"
                     placeholder="Your last name"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label color="secondary" stacked>Email</ion-label>
          <ion-input formControlName="email" type="text"
                     [class.invalid]="!shippingForm.controls.email.valid && blur"
                     placeholder="Your email"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label color="secondary" stacked>Phone number</ion-label>
          <ion-input formControlName="phone_number" type="number"
                     [class.invalid]="!shippingForm.controls.phone_number.valid && blur"
                     placeholder="Your Phone number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="secondary">Country</ion-label>
          <ion-select formControlName="country" [class.invalid]="!shippingForm.controls.country.valid && blur">
            <ion-option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item no-lines>
          <ion-label color="secondary" stacked>State</ion-label>
          <ion-input formControlName="state" type="text"
                     [class.invalid]="!shippingForm.controls.state.valid && blur" placeholder="Enter state"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label color="secondary" stacked>Town</ion-label>
          <ion-input formControlName="town" type="text"
                     [class.invalid]="!shippingForm.controls.town.valid && blur" placeholder="Enter Town"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label color="secondary" stacked>Post code</ion-label>
          <ion-input formControlName="post_code" type="number"
                     [class.invalid]="!shippingForm.controls.post_code.valid && blur"
                     placeholder="Enter post code"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label color="secondary" stacked>Address</ion-label>
          <ion-textarea formControlName="address"
                        [class.invalid]="!shippingForm.controls.address.valid && blur"
                        placeholder="Enter address"></ion-textarea>
        </ion-item>
        <ion-item no-lines>
          <button type="submit" ion-button block color="primary" [disabled]="!shippingForm.valid">
            Register
          </button>
        </ion-item>

      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
