<ion-header>
  <ion-navbar>
    <ion-item no-lines (click)="filter()">
      <!--<ion-icon name="menu"></ion-icon>-->
      <p class="appName">{{settings.site_name}}</p>
      <ion-icon item-end name="search"></ion-icon>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" loop="true" *ngIf="sliderArray?.length > 0">
    <ion-slide *ngFor="let slider of sliderArray">
      <img src="{{slider.image_url}}" useImg/>
    </ion-slide>

  </ion-slides>
  <ion-item no-lines style="margin-bottom: 0px !important; padding-bottom: 0px !important;">
    <ion-row>
      <ion-col><h5>Categories</h5></ion-col>
      <ion-col>
        <button class="pright" ion-button small outline (click)="allCategories()">View All</button>
      </ion-col>
    </ion-row>
    <ion-scroll class="card-background-page" scrollX="true" style=" height: 15vh;" *ngIf="categoryArray?.length > 0">

      <ion-card class="scroll-item" *ngFor="let category of categoryArray" style="width: 100px;">
        <img-loader src="{{category.image}}" [useImg]="true"></img-loader>
        <div class="card-subtitle">{{category.category_name}}</div>
      </ion-card>

    </ion-scroll>
  </ion-item>


  <ion-item class="products" style="margin-top: 0px !important;" no-lines *ngIf="categoryArray?.length > 0">
    <div *ngFor="let cat of categoryArray">
      <ion-row>
        <ion-col><h5>{{cat.category_name}}</h5></ion-col>
        <ion-col>
          <button class="pright" ion-button small outline item-end
                  (click)="specificCategory(cat.categoryId, cat.category_name)">View All
          </button>
        </ion-col>
      </ion-row>
      <ion-scroll scrollX="true" class="products-scroll">


        <ion-card class="scroll-item products-card"
                  *ngFor="let product of (productsArray|filterproducts:cat : cat.categoryId)" no-padding
                  (click)="productDetails(product.productId)">

          <img-loader style="max-height: 10vh" src="{{product.image}}" [useImg]="true"></img-loader>

          <ion-card-content>

            <p>{{product.productName}}</p>
            <ion-row>
              <p class="old-price">{{settings.currency_symbol}} {{product.old_price}}</p>
              <p class="new-price">{{settings.currency_symbol}} {{product.price}}</p>
            </ion-row>

            <div class="stars" *ngIf="product.rate > 0">
              <ion-icon *ngFor="let star of printRating(product.rate)" name="{{star}}"></ion-icon>
            </div>


          </ion-card-content>
          <ion-badge>{{calculatePercentageDiscount(product.old_price, product.price)}}</ion-badge>
          <p class="wishlist">

            <ion-icon *ngIf="product.isWishlisted" name="heart" (click)="wishlist($event, product)"></ion-icon>
            <ion-icon *ngIf="!product.isWishlisted" name="heart-outline"
                      (click)="wishlist($event, product)"></ion-icon>
          </p>

        </ion-card>


        <div *ngIf="!getState(cat.categoryId)" class="no-records">
          <img  src="assets/imgs/empty.png">
          <p>No records available at the moment</p>
        </div>

      </ion-scroll>
    </div>
  </ion-item>


</ion-content>
