.ios, .md {
  page-home {
    .appName {
      font-family: 'Muli', sans-serif;
      color: map-get($colors, primary);
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
    }
    ion-slides {
      height: 40%;
    }
    .card-background-page {
      .scroll-item {
        position: relative;
        text-align: center;
        margin-left: 1%;
      }

      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }

      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
      }

    }

    ion-scroll[scrollX] {
      padding-top: 0px !important;
      margin-top: 0px !important;
      padding-bottom: 0px !important;
      margin-bottom: 0px !important;
      white-space: nowrap;
      .scroll-item {
        display: inline-block;
      }
    }

    .products-scroll {
      height: 33vh;
    }

    .products-card {
      position: relative;
      width: 40%;
      height: 30vh;
      margin-left: 1%;
      padding-top: 0px !important;
      margin-top: 0px !important;
      padding-bottom: 0px !important;
      margin-bottom: 0px !important;
    }

    .products-image {
      height: 50% !important;
    }
    .swiper-pagination-bullet-active {
      background: map-get($colors, primary) !important;
      opacity: 1;
    }
    .old-price {
      font-size: 12px !important;
      text-decoration: line-through !important;
      font-weight: bold;
    }
    .new-price {
      margin-left: 3px;
      font-size: 12px !important;
      color: map_get($colors, secondary) !important;
      font-weight: bold;
    }
    .stars {
      font-size: 11px !important;
      color: map_get($colors, primary);
    }
    .no-records{
      width: 50%;
      height: 50%;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: perspective(1px) translate(-50%, -50%);
    }
    .no-records p{
      color: map_get($colors, primary);
      text-align: center;
    }
    ion-badge {
      background-color: color($colors, secondary) !important;
      position: absolute;
      top: 7%;
      font-size: 0.7em;
      width: auto;
      font-weight: bold;
      color: #fff;
      font-family: 'Montserrat', sans-serif !important;
      left: 5%;
    }
    .wishlist {
      position: absolute;
      top: 5%;
      right: 5%;
      font-size: 1.5em;
      color: color($colors, primary);
    }

    .pright {
      margin-left: 0px !important;
      float: right;
      top: -8px;
      //color: color($colors, dark) !important;
    }

  }
}

