.ios, .md {
  page-payment-options {
    .title-accordion {
      background: color($colors, grey);
      margin-top: 2px;
      border-radius: 5px;

    }
    .title-head {
      margin-left: 10px !important;
    }

    .description{
      margin-left: 10px;
      text-transform: none;
      padding: 1em 0;
      white-space: normal;

      text-align: justify !important;
    }

    .heading{
      font-family: 'Muli', sans-serif;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.78;
    }

  }
}
