<!--
  Generated template for the PaymentOptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Payment Options</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h2 class="heading">Payment Options</h2>

  <ion-list radio-group [(ngModel)]="paymentOptions.pay_options">
    <div>
      <ion-item class="title-accordion" no-padding no-lines>
        <ion-label class="title-head">Pay on delivery</ion-label>
        <ion-radio value="upon-delivery" item-right
                   (click)="openUponDelivery()"></ion-radio>
      </ion-item>
      <ion-item no-padding no-lines *ngIf="uponDelivery">
        <p class="description">Pay upon delivery of products</p>
      </ion-item>

    </div>
    <div>
      <ion-item class="title-accordion" no-padding no-lines>
        <ion-label class="title-head">PayPal</ion-label>
        <ion-radio value="PayPal" item-right
                   (click)="openPayPall()"></ion-radio>
      </ion-item>
      <ion-item no-padding no-lines *ngIf="paypall">
        <p class="description">Pay using your PayPal account. To test use email: kennedy@allthingzcode.com, password:
          12345678</p>
      </ion-item>

    </div>
    <div>
      <ion-item class="title-accordion" no-padding no-lines>
        <ion-label class="title-head">Stripe</ion-label>
        <ion-radio value="Stripe" item-right
                   (click)="openStripe()"></ion-radio>
      </ion-item>
      <ion-item no-padding no-lines *ngIf="stripe">
        <p class="description">Pay using your credit card via stripe. To test use card number 4242424242424242 with
          expMonth month 12, expYear 2020 and CVC 220.</p>
      </ion-item>
      <ion-item no-padding *ngIf="stripe">
        <ion-input [(ngModel)]="paymentOptions.card_no" type="number" placeholder="Card no"></ion-input>
      </ion-item>
      <ion-row *ngIf="stripe">
        <ion-col>
          <ion-item>
            <ion-label>Month</ion-label>
            <ion-select [(ngModel)]="paymentOptions.expMonth">
              <ion-option *ngFor="let month of months" value="{{month.number}}" placeholder="Month">{{month.name}}</ion-option>
            </ion-select>
          </ion-item>
          <!--<ion-item no-padding>-->
            <!--<ion-input [(ngModel)]="paymentOptions.expMonth" type="number" placeholder="Month"></ion-input>-->
          <!--</ion-item>-->
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-input [(ngModel)]="paymentOptions.expYear" type="number" placeholder="Year"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-input [(ngModel)]="paymentOptions.cv_c" type="number" placeholder="CVC"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


    </div>
  </ion-list>

  <h2 class="heading">Total</h2>

  <ion-list>
    <!--<ion-item>-->
      <!--<p item-right>{{settings.currency_symbol}} {{total_price}}</p>-->
      <!--<p>Subtotal ({{count_cart}} items)</p>-->
    <!--</ion-item>-->
    <!--<ion-item>-->
      <!--<p item-right>0</p>-->
      <!--<p>Shipping (International Flat Rate)</p>-->
    <!--</ion-item>-->
    <ion-item>
      <p item-right>{{settings.currency_symbol}} {{total_price}}</p>
      <p>Total ({{count_cart}} items)</p>
    </ion-item>
  </ion-list>

  <button ion-button block color="secondary" (click)="makePayment()">Pay {{settings.currency_symbol}} {{total_price}}</button>

</ion-content>
