// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Muli|Playfair+Display:400,700,900';
@import 'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css';


[ion-fixed] {
  width: 100%;
}

.text-light {
  color: color($colors, light);
}

.text-dark {
  color: color($colors, dark);
}

.text-grey {
  color: color($colors, grey);
}

button.activated {
  border-color: transparent !important
}

.text-facebook {
  color: color($colors, primary);
}

.half-opacity {
  opacity: 0.5;
}


.m-b-15 {
  margin-bottom: 15px !important;
}

.m-t-b-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.center-margin {
  margin: 0 auto !important;
}


h1 {
  font-family: 'PlayfairDisplay', serif;
  font-size: 31px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

h2 {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
}

h5 {
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

button,
p,
ul,
li,
a,
input,
h5 {
  font-family: 'Muli', sans-serif;
}

.shadow {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.20), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.20);
  &:hover {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.20);
  }
}

.pinro-side-menu {
  a {
    font-family: 'PlayfairDisplay', serif;
    font-weight: bold;
  }
}

//positioning
.center-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: perspective(1px) translate(-50%, -50%);
}

.center-content {
  position: absolute;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  padding-right: 10px;
}

//footer content
.footer-content {
  position: fixed;
  bottom: 30px;
  width: 100%;
}

//buttons
.btn-holder {
  width: 200px;
  text-align: center;
  left: 50%;
  transform: perspective(1px) translateX(-50%);
  .button-block {
    &:first-child {
      margin-bottom: 15px;
    }
  }
}



