page-checkout {
  ion-card-header{
    font-family: 'Muli', sans-serif;
    //font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    //line-height: 1.78;
  }
  .small-header{
    font-family: 'Muli', sans-serif !important;
    font-size: 12px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
    color: map_get($colors, grey) !important;
  }
}
