<!--
  Generated template for the ResetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent="true">
    <!--<ion-title>ResetPassword</ion-title>-->
  </ion-navbar>

</ion-header>


<ion-content fullscreen="true" class="resetPassword">

  <div no-lines class="footer-content btn-holder">
    <div class="bottom-content animated fadeInUpBig" padding>
      <h2 text-center>Reset Password</h2>
      <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>
        <ion-item no-lines>
          <ion-label color="secondary" stacked>Email address</ion-label>
          <ion-input formControlName="email" type="email"
                     [class.invalid]="!resetPasswordForm.controls.email.valid && blur" placeholder="Enter your email address"></ion-input>
        </ion-item>

        <button type="submit" ion-button block outline color="primary" class="shadow" [disabled]="!resetPasswordForm.valid">
          Reset your Password
        </button>
      </form>
    </div>
  </div>

  <!--<form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>-->

    <!--<ion-item>-->
      <!--<ion-label stacked>Email</ion-label>-->
      <!--<ion-input formControlName="email" type="email" placeholder="Your email address"-->
                 <!--[class.invalid]="!resetPasswordForm.controls.email.valid && blur">-->
      <!--</ion-input>-->
    <!--</ion-item>-->

    <!--<button ion-button block type="submit" [disabled]="!resetPasswordForm.valid">-->
      <!--Reset your Password-->
    <!--</button>-->

  <!--</form>-->
</ion-content>
