<!--
  Generated template for the BillingAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Billing address</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>

      <form [formGroup]="billingForm" (ngSubmit)="addBillingForm()">
        <ion-item no-lines>
          <ion-label color="secondary" stacked>First name</ion-label>
          <ion-input formControlName="first_name" type="text"
                     [class.invalid]="!billingForm.controls.first_name.valid && blur"
                     placeholder="Your first name"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label color="secondary" stacked>Last name</ion-label>
          <ion-input formControlName="last_name" type="text"
                     [class.invalid]="!billingForm.controls.last_name.valid && blur"
                     placeholder="Your last name"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label color="secondary" stacked>Email</ion-label>
          <ion-input formControlName="email" type="email"
                     [class.invalid]="!billingForm.controls.email.valid && blur"
                     placeholder="Your email"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label color="secondary" stacked>Phone number</ion-label>
          <ion-input formControlName="phone_number" type="number"
                     [class.invalid]="!billingForm.controls.phone_number.valid && blur"
                     placeholder="Your Phone number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  color="secondary">Country</ion-label>
          <ion-select formControlName="country" [class.invalid]="!billingForm.controls.country.valid && blur">
            <ion-option  *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item no-lines>
          <ion-label color="secondary" stacked>State</ion-label>
          <ion-input formControlName="state" type="text"
                     [class.invalid]="!billingForm.controls.state.valid && blur" placeholder="Enter state"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label color="secondary" stacked>Town</ion-label>
          <ion-input formControlName="town" type="text"
                     [class.invalid]="!billingForm.controls.town.valid && blur" placeholder="Enter Town"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label color="secondary" stacked>Post code</ion-label>
          <ion-input formControlName="post_code" type="number"
                     [class.invalid]="!billingForm.controls.post_code.valid && blur"
                     placeholder="Enter post code"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label color="secondary" stacked>Address</ion-label>
          <ion-textarea formControlName="address"
                        [class.invalid]="!billingForm.controls.address.valid && blur"
                        placeholder="Enter address"></ion-textarea>
        </ion-item>
        <ion-item no-lines>
          <button type="submit" ion-button block color="primary" [disabled]="!billingForm.valid">
            Save and continue
          </button>
        </ion-item>

      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
