<!--
  Generated template for the ProductDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header no-border>

  <ion-navbar transparent="true">

    <ion-item no-lines class="top-bar">
      <ion-title>{{productName}}</ion-title>
      <!--<ion-icon class="heart" item-end name="heart"></ion-icon>-->

        <ion-icon class="heart" item-end *ngIf="isWishlisted" name="heart"
                  (click)="wishList(product_id)"></ion-icon>
        <ion-icon class="heart" item-end *ngIf="!isWishlisted" name="heart-outline"
                  (click)="wishList(product_id)"></ion-icon>

      <ion-icon *ngIf="!ordered_item" class="cart" item-end name="cart" (click)="cart()">
        <ion-badge class="cart-number">{{cartItemsNumber}}</ion-badge>
      </ion-icon>

    </ion-item>
  </ion-navbar>

</ion-header>
<ion-content fullscreen="true" class="no-padding-top">

  <ion-slides class="image-slider" *ngIf="imageArray?.length > 0" pager="true" loop="true">
    <ion-slide *ngFor="let slide of imageArray">
      <img-loader class="imgslider" src="{{slide.image_url}}" height="40vh" width="4160px"></img-loader>
      <!--<img src="{{slide.image_url}}" width="4160px" height="45vh">-->

    </ion-slide>
  </ion-slides>


  <ion-item class="productDetails">
    <h3 class="desc">Name</h3>
    <h2>{{productName}}</h2>
  </ion-item>
  <ion-item class="productDetails">
    <h3 class="desc">Description</h3>
    <p>{{productDescription}}</p>
  </ion-item>

  <ion-item class="productDetails">
    <h3 class="desc">Price</h3>
    <div class="container">
      <div class="price-allign">
        <p>{{currency_symbol}} </p>
      </div>
      <div class="price-allign">
        <p *ngIf="old_price" class="price-old">{{old_price}}</p>
      </div>
      <div class="price-allign">
        <p class="price"> {{price}}</p>
      </div>
    </div>
  </ion-item>
  <ion-item class="productDetails">
    <h3 class="desc">Specifications</h3>
    <ion-row *ngIf="categoryName">
      <ion-col>
        <p class="pleft">Category</p>
      </ion-col>
      <ion-col>
        <p class="pright">{{categoryName}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="colorArray?.length > 0">
      <ion-col>
        <p class="pleft">Color</p>
      </ion-col>
      <ion-col>
        <p class="pright">{{colorArray}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="sizeArray?.length > 0">
      <ion-col>
        <p class="pleft">size</p>
      </ion-col>
      <ion-col>
        <p class="pright">{{sizeArray}}</p>
      </ion-col>
    </ion-row>


  </ion-item>
  <ion-item class="productDetails" no-lines>
    <h3 class="desc" *ngIf="hide">Variations</h3>
    <ion-list *ngIf="colorArray?.length > 0" radio-group [(ngModel)]="colorOptions.color">
      <p class="pleft">Color</p>
      <ion-item *ngFor="let color of colorArray">
        <ion-label>{{color}}</ion-label>
        <ion-radio value="{{color}}"></ion-radio>
      </ion-item>

    </ion-list>
    <ion-list *ngIf="sizeArray?.length > 0" radio-group [(ngModel)]="sizeOptions.size">
      <p class="pleft">Size</p>
      <ion-item *ngFor="let size of sizeArray">
        <ion-label>{{size}}</ion-label>
        <ion-radio value="{{size}}"></ion-radio>
      </ion-item>

    </ion-list>
  </ion-item>

</ion-content>
<ion-footer style="margin-top: 10px !important">
  <ion-toolbar>

    <ion-row class="aParent">
      <ion-col>
        <p>{{currency_symbol}} {{price}}</p>

        <div class="stars" *ngIf="rate > 0">
          <ion-icon *ngFor="let star of printRating(rate)" name="{{star}}"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <!--<button ion-button (click)="cartCount()">Click me</button>-->
        <button *ngIf="!ordered_item" class="addtocart" ion-button icon-end float-right color="secondary"
                (click)="addtocart(product_id)">
          Add to cart
          <ion-icon name="cart"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
