.md, .ios {
  page-product-details {

    ion-header ion-icon.back-button-icon.icon {
      color: map-get($colors, secondary);
    }

    .top-bar {
      background: transparent;
    }
    .heart {
      color: map_get($colors, primary);
      margin-right: 17px !important;
    }
    .cart {
      position: relative;
      color: map_get($colors, primary);
      margin-right: 30px !important;
    }

    .cart-number {
      position: absolute;
      top: -10px;
      right: -20px !important;
      border-radius: 100%;
    }

    .no-padding-top .scroll-content {
      padding-top: 0px !important;
      margin-top: 0px !important;
      margin-bottom: 30px !important;
    }

    .image-slider {
      height: 40vh;
      width: 100%;
      width: auto !important;
      align-items: center;
    }

    .swiper-pagination-bullet-active {
      background: map-get($colors, primary) !important;
      opacity: 1;
    }
    ion-toolbar {
      padding: 0px !important;
      margin: 0px !important
    }
    ion-row {
      margin: 0px !important;
      padding: 0px !important;
    }
    .productDetails {
      padding-right: 10px !important;
      clear: both;
    }
    .productDetails h3 {
      font-family: 'Montserrat', sans-serif !important;
      font-weight: bold !important;
      margin-bottom: 10px !important;
      color: color($colors, dark);
    }
    .addtocart {
      padding-bottom: 0px !important;
      padding-right: 10px !important;
    }
    .aParent p {
      padding-left: 10px !important
    }
    .price-allign {
      display: inline-block !important;
    }
    .productDetails .price-old {
      font-size: 12px !important;
      text-decoration: line-through !important;
    }
    .productDetails .price {
      margin-left: 0px !important;
      color: color($colors, primary) !important;
    }
    .productDetails .pleft {
      float: left;
      font-weight: bold !important;
    }
    .productDetails .pright {
      margin-left: 0px !important;
      float: right;
      color: color($colors, dark) !important;
    }
    .stars {
      padding-left: 10px !important;
    }
    .aParent ion-icon {
      padding: 0px !important;
      margin-left: 0px !important;
      font-size: 13px !important;
      color: color($colors, secondary) !important;
    }
    .aParent p {
      margin: 0px !important;
    }
  }
}
