<!--
  Generated template for the ProductsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{categoryName}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="search()">
        <ion-icon item-right name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row *ngFor="let double of doubleCategories">
      <ion-col *ngFor="let item of double">

        <ion-card (click)="productDetails(item.productId)">
          <img-loader src="{{item.image}}" [useImg]="true"></img-loader>
          <!--<img src="{{ item.image }}"/>-->

          <ion-card-content>

            <p>{{item.productName}}</p>
            <ion-row>
              <p class="old-price">{{settings.currency_symbol}} {{item.old_price}}</p>
              <p class="new-price">{{settings.currency_symbol}} {{item.price}}</p>
            </ion-row>
            <div class="stars" *ngIf="item.rate > 0">
              <ion-icon *ngFor="let star of printRating(item.rate)" name="{{star}}"></ion-icon>
            </div>
            <ion-badge>{{calculatePercentageDiscount(item.old_price, item.price)}}</ion-badge>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
