.ios, .md {
  page-products {
    ion-row {
      padding-bottom: 0px;
    }
    ion-col {
      margin: 0px !important;
      padding: 0px !important;

    }
    .old-price {
      font-size: 12px !important;
      text-decoration: line-through !important;
      font-weight: bold;
    }
    .new-price {
      margin-left: 3px;
      font-size: 12px !important;
      color: map_get($colors, secondary) !important;
      font-weight: bold;
    }
    .stars {
      color: map_get($colors, primary);
    }

  }
}
