<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent="true">
    <!--<ion-title>Signup</ion-title>-->
  </ion-navbar>

</ion-header>


<ion-content fullscreen="true" class="signup">

  <div no-lines class="footer-content btn-holder">
    <div class="bottom-content animated fadeInUpBig" padding>
      <h2 text-center>Signup</h2>
      <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
        <ion-item no-lines>
          <ion-label color="secondary" stacked>Email address</ion-label>
          <ion-input formControlName="email" type="email"
                     [class.invalid]="!signupForm.controls.email.valid && blur" placeholder="Your email address"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label color="secondary" stacked>Password</ion-label>
          <ion-input formControlName="password" type="password"
                     [class.invalid]="!signupForm.controls.password.valid && blur" placeholder="Your password"></ion-input>
        </ion-item>


        <button type="submit" ion-button block outline color="primary" class="shadow" [disabled]="!signupForm.valid">
          Register
        </button>
      </form>
    </div>
  </div>

</ion-content>
