<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Orders</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding="3">
  <div *ngIf="!ordersArray.length>0" class="no-records">
    <img  src="assets/imgs/empty.png">
    <p>No records available at the moment</p>
  </div>
  <ion-list *ngIf="ordersArray?.length > 0">
    <ion-item *ngFor="let order of ordersArray" class="item-ribbon" (click)="orderDetails(order.checkOutID)">
      <span *ngIf="order.order_status == 'ordered'" class="ribbon default">
          <span>{{order.order_status}}</span>
        </span>
      <span *ngIf="order.order_status == 'shipped'" class="ribbon cruzeiro">
          <span>{{order.order_status}}</span>
        </span>
      <span *ngIf="order.order_status == 'received'" class="ribbon greenish">
          <span>{{order.order_status}}</span>
        </span>
      <h2>Order id: {{order.order_id}}</h2>
      <h3>Amount: {{order.totalAmount}}</h3>
      <p>Payment option: {{order.payment_option}}</p>
      <ion-row>
        <p class="date">{{order.check_out_date}}</p>
        <ion-badge color="secondary">{{order.no_of_items}} items in this order</ion-badge>
      </ion-row>


    </ion-item>
  </ion-list>
</ion-content>
