<!--
  Generated template for the OrderDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Order Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding no-margin>

  <ion-grid>
    <ion-row *ngFor="let double of getDoubleColumn()">
      <ion-col *ngFor="let item of double">

        <ion-card (click)="productDetails(item.productId)">
          <img src="{{ item.image }}"/>

          <ion-card-content>

            <p>{{item.productName}}</p>
            <ion-row>
              <p class="old-price">{{settings.currency_symbol}} {{item.old_price}}</p>
              <p class="new-price">{{settings.currency_symbol}} {{item.price}}</p>
            </ion-row>
            <div class="stars" *ngIf="item.rate > 0">
              <ion-icon *ngFor="let star of printRating(item.rate)" name="{{star}}"></ion-icon>
            </div>
            <ion-badge>{{calculatePercentageDiscount(item.old_price, item.price)}}</ion-badge>


          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
