.ios, .md {
  page-order-details {

    ion-item {
      margin-right: 0px !important;
      padding-right: 0px !important;
    }

    ion-card {
      padding-right: 0px !important;
      margin-right: 0px !important;
    }

    .old-price {
      font-size: 12px !important;
      text-decoration: line-through !important;
      font-weight: bold;
    }
    .new-price {
      margin-left: 3px;
      font-size: 12px !important;
      color: map_get($colors, secondary) !important;
      font-weight: bold;
    }
    .stars {
      color: map_get($colors, primary);
    }
  }
}
