<!--
  Generated template for the OrderDetailsItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent="true">

    <ion-item no-lines class="top-bar">
      <ion-title>{{productName}}</ion-title>
    </ion-item>
  </ion-navbar>

</ion-header>
<ion-content fullscreen="true" class="no-padding-top">

  <ion-slides class="image-slider" *ngIf="imageArray?.length > 0" pager="true" loop="true">
    <ion-slide *ngFor="let slide of imageArray">
      <img-loader class="imgslider" src="{{slide.image_url}}" height="40vh" width="4160px"></img-loader>
    </ion-slide>
  </ion-slides>


  <ion-item class="productDetails">
    <h3 class="desc">Name</h3>
    <h2>{{productName}}</h2>
  </ion-item>
  <ion-item class="productDetails">
    <h3 class="desc">Description</h3>
    <p>{{productDescription}}</p>
  </ion-item>

  <ion-item class="productDetails">
    <h3 class="desc">Price</h3>
    <div class="container">
      <div class="price-allign">
        <p>{{currency_symbol}} </p>
      </div>
      <div class="price-allign">
        <p *ngIf="old_price" class="price-old">{{old_price}}</p>
      </div>
      <div class="price-allign">
        <p class="price"> {{price}}</p>
      </div>
    </div>
  </ion-item>



</ion-content>
<ion-footer style="margin-top: 10px !important">
  <ion-toolbar>

    <ion-row class="aParent">
      <ion-col>
        <p>{{currency_symbol}} {{price}}</p>

        <div class="stars" *ngIf="rate > 0">
          <ion-icon *ngFor="let star of printRating(rate)" name="{{star}}"></ion-icon>
        </div>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>
